---

- hosts: 'placeholder_fqdn'
  become: True

  environment: '{{ inventory__environment | d({})
                   | combine(inventory__group_environment | d({}))
                   | combine(inventory__host_environment  | d({})) }}'

  roles:

    - role: debops.apt_preferences
      apt_preferences__dependent_list:
        - '{{ neurodebian__apt_preferences__dependent_list }}'

    - role: 'ansible-neurodebian'
